{% extends 'layout/layout.twig' %}

{%  block content %}
    <h1>{{ translate('A 404 error occurred') }}</h1>
    <h2>{{ message }}</h2>

    {% if reason %}

        {% if reason == 'error-controller-cannot-dispatch' %}
            {% set reasonMessage = translate('The requested controller was unable to dispatch the request.') %}
        {% elseif reason == 'error-controller-not-found' %}
            {% set reasonMessage = translate('The requested controller could not be mapped to an existing controller class.') %}
        {% elseif reason == 'error-controller-invalid' %}
            {% set reasonMessage = translate('The requested controller was not dispatchable.') %}
        {% elseif reason == 'error-router-no-match' %}
            {% set reasonMessage = translate('The requested URL could not be matched by routing.') %}
        {% else %}
            {% set reasonMessage = translate('We cannot determine at this time why a 404 was generated.') %}
        {% endif %}

        <p>{{ reasonMessage }}</p>

    {% endif %}

    {% if controller %}

        <dl>
            <dt>{{ translate('Controller') }}:</dt>
            <dd>
                {{ controller|escape }}

                {% if controller_class and controller_class != controller %}
                    {{ translate('resolves to %s'|format(controller_class|escape)) }}
                {% endif %}
            </dd>
        </dl>

    {% endif %}

    {% if display_exceptions %}
        {% include 'error/includes/exception-info.twig' with {'exception': exception} %}
    {% endif %}
{% endblock content %}
